<p id="notice"><%= notice %></p>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <%= render @blogs %>
        </div>
        <%= render "shared/blogs_aside" %>
      </div>
    </main>
  </div>

<br>
