<div class="row">
  <div class="col-md-8 topic-main">
    <h1>New Topic</h1>

    <%= render 'form', topic: @topic %>

    <%= link_to 'Back', topics_path %>
  </div>
  <%= render "shared/blogs_aside", blogs_by_month: @blogs_by_month %>
</div>
