<div class="album py-5 bg-light">
  <div class="container">
    <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
      <% if @ruby_portfolio_items.size > 0 %>
        <%= render partial: "portfolio_item", collection: @ruby_portfolio_items %>
      <% else %>
        <div>
          <h5>Uh-oh!</h5><br>
          <p>Looks like there isn't anything here! Please go back to my portfolio index to see the rest of my projects!</p>
          <%= link_to "Back to the portfolio!", portfolios_path, class: "btn btn-info my-2" %>

        </div>
      <% end %>
    </div>
  </div>
</div>


