<aside class="col-md-4 blog-sidebar">
  <div>
    <%= source_helper("alert alert-primary") %>
  </div>
  <div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">About My Blog</h4>
    <p class="mb-0">As a UBC Bachelor of Arts graduate turned Full Stack Web Developer, my education has taken a number of turns and I have questioned myself and my choices more times than I can count. This blog aims to help me explore new topics, deepen my understanding of topics I have previously touched on, and create and foster open discussion. If you would like to comment on a blog post, feel free to do so, or if you would like to get in touch I would love to hear from you! If you find yourself here, I hope you enjoy my ramblings, musings and, hopefully, my rare words of knowledge and wisdom.</p>
  </div>

  <div class="p-3">
    <h4 class="font-italic">Archives</h4>
    <ol class="list-unstyled mb-0">
      <li><a href="#">March 2014</a></li>
      <li><a href="#">February 2014</a></li>
    </ol>
  </div>

  <div class="p-3">
    <h4 class="font-italic">More Info</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/SjS16", target="_blank"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.linkedin.com/in/sjs16", target="_blank"><%= fa_icon "linkedin" %></a></li>
    </ol>
  </div>
</aside>