<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <%= image_tag 'Face.jpg', alt: "profile_image", class: "img-circular" %>
        </div>
        <div class="col-sm-7 py-4">
          <h3 class="text-white">About</h3>
          <p class="text-muted">Welcome to my portfolio! Here you will find examples of some of my past projects. Each item also contains a link to the github repo so you can check out my code, as well as a description of what the project was about, some of the technologies I used and anything else I feel is interesting about it!</p>
        </div>
        <div class="col-sm-1 offset-sm-2 py-4" style="text-align:right">
          <h3 class="text-white" style="margin-left: -38px;">Explore</h3>
          <ul class="list-unstyled" style="float: right">
            <%= nav_helper "text-white", "li" %>
            <li><%= login_helper "text-white"%></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Steph Simpson</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>