<main role="main" class="inner cover home-page">
  <h1 class="cover-heading">About me.</h1>
  <p class="lead" style="margin: 45px 0px;">I am a UBC Bachelor of Arts graduate and legal assistant turned web developer.  I love creating seamless apps, designed with a simple interface to make users lives easier. I am a quick learner and  a speedy coder, and my past experience in law has made me great at working towards deadlines! I am currently focusing on my back-end development skills and strengthening my fundamental knowledge everyday.</p>
</main>