<main role="main" class="inner cover home-page">
  <div class="pages-card">
    <h1 class="cover-heading">Welcome to my online home.</h1>
    <p class="lead" style="margin: 45px 0px;">On this site you can read blog posts about a range of topics, from coding and web development, to hikes and outdoor activities. You can also see a portfolio of my professional skills, and learn more about me as a person.</p>
    <p class="lead">
        <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>
</main>